# Exclude everything by default...
*

# ...but include built bundles and mandatory metadata.
!dist/
!dist/*.js
!dist/*.mjs
!package.json
!README.md
!LICENSE

# Specific exclusions (dev resources)
tests/
node_modules/
docs/
tmp/
shims/
# maps / logs
**/*.map
*.log